@import "tailwindcss";
/* @layer base {
  :root {
    --color-primary: #fea928;
    --color-secondary: #ed8900;
  }
} */
@theme {
  --color-primary: #fea928;
  --color-secondary: #ed8900;
}
@layer utilities {
  .container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
}
@layer base {
  html {
    color-scheme: light;
  }
}
